@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

.bg-main {

  background: 
    radial-gradient(
      circle at 80% 0%, 
      rgba(76, 29, 149, 0.25) 0%, 
      transparent 50%
    ),
    radial-gradient(
      circle at 0% 90%, 
      rgba(76, 29, 149, 0.15) 0%, 
      transparent 50%
    ),
    #0b0813;
  
  min-height: 100vh;
  width: 100%;

  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.container-layout {
  width: 100%;
  margin: 0 auto; 
  padding: 150px 20px 60px 100px; 
  display: flex;
  flex-direction: column;
  gap: 80px;        
}


.hero-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
  }
}


